
@{
    ViewData["Title"] = "SellerOP";
}

<h1>SellerOP</h1>

<div>
    <h3 class="text-right text-danger"><a asp-action="Login">Logout</a></h3>
    <h3><a asp-action="SOperations">AddCategory</a></h3><br/><br/>
    <h3><a asp-action="AddSubcategory">AddSubCategory</a></h3><br /><br/>
    <h3><a asp-action="AddProduct">AddProduct</a></h3>
</div>